.courseHero{
    background-image: url("../img/courses/Background.webp");
    padding: 150px 48px;
    color: var(--h2Color);
}

.courseHero h1{
    font-size: 64px;
}

.courseHero p span{
    color: #FC6441;
}