/* start header */
.header .contact-info {
    background-color: var(--primaryColor1);
}

.header .contact-info .right-side-info {
    background-color: var(--yellowColor);
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: var(--blackColor);
    padding-left: 30px;

}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--lightPurpule);
    border: var(--bs-border-width) var(--bs-border-style) var(--lightPurpule);
    border-radius: var(--bs-border-radius-xxl)
}

.navbar .create-btn button {
    background-color: var(--lightPurpule);
}

/* end header */

/* hero start  */

.hero {
    background-image: url("../img/hero/heroBackground.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.heros img {
    width: 100%;
}

.hero-left-side {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-left-side span {
    color: var(--lightPurpule);
}

.hero-left-side h1 {
    color: var(--primaryColor1);
    font-weight: bold;
}

.hero-left-side p {
    color: #333931;
}

.hero-left-side .btn {
    background-color: var(--primaryColor1);
}

.hero-left-side .btn span {
    color: #FFFFFF;
}

.hero-right-side img {
    transition: transform .35s ease;
    transform-origin: center;
    will-change: transform;
}

.hero-right-side img:hover {
    transform: scale(1.06) rotate(2deg);
}

@media screen and (max-width:750px) {

    .heros img {
        display: none;
    }

}

/* hero end */

/* start categories */
.categories .row {
    gap: 30px;
}

.categories .categories-h {
    color: #704FE6;
    background-color: #E9E2FF;
    border-radius: 5px;


}

.categories h2 {
    padding-top: 25px;
    color: var(--h2Color);
}

.categories .category {
    flex-basis: 400px;
    gap: 20px;
    color: #0E2A46;
    padding: 15px;
    border-radius: 10px;
    transition: transform .35s ease;
    transform-origin: center;
    will-change: transform;
}

.categories .category:hover {
    transform: scale(1.06);
}

.categories .cat-1 {
    background-color: #EAF6FF;
}

.categories .cat-2 {
    background-color: #FEF2F4;
}

.categories .cat-3 {
    background-color: #D1F5E4;
}

.categories .cat-4 {
    background-color: #FFF3D9;
}

.categories .cat-5 {
    background-color: #DFD4F4;
}

.categories .cat-6 {
    background-color: #FFDAF0;
}

.categories .cat-7 {
    background-color: #DCDFFD;
}

.categories .cat-8 {
    background-color: #FFECD9;
}

.categories .cat-9 {
    background-color: #DCF5FF;
}





/* end categories */

/* courses start */
.courses {

    background-image: url("../img/courses/Background.svg");
    background-repeat: repeat-y;
    background-position: center;

}

.courses h2 {
    color: var(--primaryColor1);
}

.course-header .course-h {
    color: #704FE6;
    background-color: #E9E2FF;
    border-radius: 5px;
}

.course-header .btn {
    background-color: var(--lightPurpule);
}

.courses .card-top {
    position: relative;
}

.courses .card-top .btn {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    background-color: var(--primaryColor1);

}

.courses .row {
    gap: 24px;
}

.courses .course {
    flex-basis: 400px;
    gap: 20px;
    color: #0E2A46;
    padding: 15px;
    border-radius: 5px;
    border: dashed 1px var(--lightPurpule);
    background-color: #F5F5F5;
}

.courses .course .rate {
    color: #4D5756;
}

.courses .course .price {
    color: var(--lightPurpule);
}

.courses .course .card-text,
.courses .course-teacher span {
    color: var(--primaryColor1);

}

.card.course .card-top img {

    transition: transform .35s ease;
    transform-origin: center;
    will-change: transform;
}

.card.course:hover .card-top img {
    transform: scale(1.1) rotate(-2deg);
}


.courses .course-teacher .btn span {
    color: #ffff;
    background-color: var(--lightPurpule);

}

.courses .course-teacher .btn {

    background-color: var(--lightPurpule);

}

.courses .card-body {
    background-image: url("../img/courses/backgroundCard.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.course-details {

    background-color: #FFFFFF;
    border-radius: 5px;
}

@media screen and (max-width:576px) {
    .course-header-b {

        flex-direction: column;

    }
}

@media screen and (max-width:430px) {

    .course-details {

        flex-direction: column;

    }
}

/* courses end */




/* about start */


.about h2,
.about h3 {
    color: var(--primaryColor1);
}

.about img {
    border-radius: 10px;
}

.about p {
    color: #333931;
}

.about-h {
    color: #704FE6;
    background-color: #E9E2FF;
    border-radius: 5px;
}

.about-left-side {
    position: relative;
}

.imgb {
    position: absolute;
    top: 25%;
    left: 30%;
    z-index: 2;
}

.Load-AboutUs-btn .btn {
    background-color: var(--lightPurpule);
}

.about .top-side .right-side {
    position: relative;
}

.about .top-side .right-side .imgt {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.about .top-side .right-side .imgb {
    position: absolute;
    z-index: -1;

}

.about-right-side .bottom-side {
    
    flex-direction: row;
}

@media screen and (max-width:992px) {

    .about-left-side img {
        display: none;
    }

}

@media screen and (max-width:450px) {

    .about-right-side .bottom-side {
        flex-direction: column;
    }
}

/* about end */

/* banner start */
.banner {

    background-image: url("../img/banner/bannerBackground.svg");
    background-repeat: no-repeat;
    background-position: center;

}

.banner span {
    color: #FFD25D;
}

.banner h3 {
    color: #ffffff;
    font-weight: bold;
}

@media screen and (max-width:600px) {

    .banner {
        background-color: var(--primaryColor1);
        background-image: none;
    }
}

/* banner end */

/*  features start*/
.features {
    padding-top: 150px;
}

.features .left-side .top-side .features-h span {
    background-color: #E9E2FF;
    color: var(--lightPurpule);
    border-radius: 5px;
}

.features .left-side .bottom-side {
    gap: 20px;
}

.features .left-side .bottom-side .card {
    background-color: #E9E2FF;
}

.features .left-side .bottom-side .card .card-text {
    color: #4D5756;
}

.features .left-side .bottom-side .card {
    flex-basis: 350px;

}

.features .right-side .right-top-image {
    top: -34px;
    right: -90px;
}

@media screen and (max-width:1100px) {
    .features .right-side {
        display: none;
    }
}

/* features end  */

/* testimonial start */
.testimonial {
    margin-top: 150px;
    padding-top: 150px;
    background-image: url("../img/testimonial/Background.webp");

    position: relative;
}

.testimonial-header {
    top: -20%;
    position: absolute;
    padding: 50px;
    background-color: #FFD25D;
    background-image: url("../img/testimonial/Background1.webp");
    background-repeat: no-repeat;
}

.testimonial .title {
    background-color: #E9E2FF;
    color: var(--lightPurpule);
    border-radius: 5px;
}

.testimonial .card-testimonial p {
    color: #333931;
}

.testimonial h2,
.testimonial h4 {
    color: var(--h2Color);
}

.testimonial h5 {
    color: var(--lightPurpule);
    font-weight: 50px;
}

.testimonial .testimonial-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.testimonial .testimonial-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.testimonial-header .testimonial-icon img {
    background-color: white;
    border-radius: 50%;
    padding: 20px;
}


.testimonial-content {
    flex-direction: row;
    gap: 25px;
}

.testimonial .card-testimonial {
    position: relative;
    border-color: var(--primaryColor1) !important;
    margin-left: 25px;
}

.testimonial .card-testimonial .icon-testimonial {
    top: -20px;
    left: -25px;
    position: absolute;
}

@media screen and (max-width:1300px) {
    .testimonial .testimonial-icon {

        gap: 5px;

    }

    .testimonial .testimonial-header {
        gap: 5px;

    }


}

@media screen and (max-width:900px) {
    .testimonial {
        margin-top: 48px;
    }

    .testimonial .testimonial-header {
        display: none;
    }

    .testimonial-content {
        flex-direction: column;
    }


}

/* testimonial end  */

/* Career sec start */
.career {
    background-image: url("../img/career/background.webp");
    background-repeat: no-repeat;
}

.career .title {
    background-color: #E9E2FF;
    color: var(--lightPurpule);
    border-radius: 5px;
}

.career h2 {
    color: var(--h2Color);
}

.career .content {
    flex-direction: row;
    gap: 10px;
}

.career .content h2 {
    color: #ffff;
}

.career .left-sec {
    padding-bottom: 10px;
    border-radius: 5px;
    flex-direction: row;
    color: #ffff;
    background-image: url("../img/career/leftBac.webp");
    background-repeat: no-repeat;

}

.career .left-sec .btn {

    color: var(--h2Color);
    background-color: #FFD25D;
}

.career .right-sec {
    padding: 10px;
    border-radius: 5px;
    flex-direction: row;
    color: #ffff;
    background-image: url("../img/career/rightBac.webp");
    background-repeat: no-repeat;

}

.career .right-sec .btn {
    background-color: var(--lightPurpule);
    color: #fff;
}

@media screen and (max-width:1100px) {
    .career .content {

        flex-direction: column;
    }
}

@media screen and (max-width:760px) {
    .image {

        display: none;
    }
}

/* Career sec end */

/* popular start */
.popular .card {
    flex-basis: 200px;
}

.popular .popular-h {
    color: #704FE6;
    background-color: #E9E2FF;
    border-radius: 5px;

}

.popular .popular-header-b h2 {
    color: var(--h2Color);

}

.popular .btn {
    background-color: var(--lightPurpule);
}

.popular .blog-info span {
    color: #4D5756;
}

.popular .row {
    gap: 24px;
}


.popular .card {
    background-image: url("../img/popular/background.svg");
}

.blogs .card-img-top {
    transition: transform .35s ease;
    transform-origin: center;
    will-change: transform;
}

.blogs .card-img-top:hover {
    transform: scale(1.06);
}

.popular .blogs .btn {
    background-color: #E9E2FF;
    color: var(--lightPurpule);
}

.popular .blog-info {
    gap: 24px;
    flex-direction: row;
}

@media screen and (max-width: 430px) {
    .popular .blog-info {
        flex-direction: column;
        gap: 0px;
    }
}

/* popular end */
/* newsLater start  */
.newsLater {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url("../img/newsLetter/newsLaterBackground.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.newsLater-form {
    flex-direction: row;
    gap: 200px;
}

.newsLater .left-newsLater {
    color: #ffffff;
}

.newsLater .right-newsLater {
    position: relative;

}

.newsLater .right-newsLater .email-form {
    border-radius: 10px;
}

.newsLater .right-newsLater .form-control {

    border: none;
}

.newsLater .right-newsLater .btn {
    background-color: #000000;

}

.newsLater .email-form {

    flex-direction: row;
    background-color: #ffffff;
}

@media screen and (max-width:1150px) {

    .newsLater-form {

        flex-direction: column;
        gap: 20px;

    }
}

@media screen and (max-width:450px) {

    .newsLater .email-form {

        flex-direction: column;
        background-color: transparent;
        gap: 10px;

    }
}

/* newsLater end */


/* footer start */
.footer {
    background-color: #0E2A46;
    background-image: url("../img/footer/footerBackground.webp");
    color: #FFFFFF;
}

.footer .footer-content {
    flex-direction: row;
    gap: 10px;

}

.footer .footer-content .lists {
    flex-direction: row;
    gap: 100px;

}


.footer .footer-content .social .icon {

    border-radius: 50%;
    text-decoration: none;

    background-color: #E9E2FF;

}

.footer .footer-content .social .icon i {
    padding: 20px;
}

.footer .gallery-img .top-gallery,
.footer .gallery-img .bottom-gallery {

    flex-direction: row;



}

@media screen and (max-width:1100px) {
    .footer {
        background-image: none;
    }

    .footer .footer-content {

        flex-direction: column;
        gap: 50px;

    }


}

@media screen and (max-width:799px) {
    .footer {
        background-image: none;
    }

    .footer .footer-content {

        flex-direction: column;
        gap: 50px;

    }

    .footer .footer-content .lists {

        flex-direction: column;
        gap: 50px;

    }
}

@media screen and (max-width:320px) {

    .footer .gallery-img .top-gallery,
    .footer .gallery-img .bottom-gallery {

        flex-direction: column;



    }
}

/* footer end */